body {
  overflow: hidden;
  background-image: url('../images/new_background_main_menu.jpg');
}

.start_screen img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/*main menu*/

.background img {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.mainmenu {
  font-family: Impact, Charcoal, sans-serif;
  background-color: black;
}

.paginas {
  font-family: Impact, Charcoal, sans-serif;
  position: absolute;
  z-index: 2;
  font-size: 400%;
  display: inline-block;
  padding-left: 40%;
  padding-top: 10%;
  text-align: center;
}

.paginas a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.paginas a:hover:not(.active) {color: #979797;}



/*credits*/

.backgroundcredits img {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.paginascredits {
  font-family: Impact, Charcoal, sans-serif;
  position: absolute;
  z-index: 2;
  font-size: 400%;
  display: inline-block;
  padding-left: 40%;
  text-align: left;
}

.paginascredits a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.paginascredits a:hover:not(.active) {color: #979797;}

.cr {
  position: absolute;
  z-index: 3;
  font-size: 200%;
  display: inline-block;
  padding-left: 33.5%;
  margin-top: 10%;
  text-align: center;
}

/*new game*/
.newgame  {
  overflow: hidden;
  background-image: url('../images/choose_sides2.jpg');
  z-index: 1;
}

.paginas1 {
  font-family: Impact, Charcoal, sans-serif;
  position: absolute;
  z-index: 2;
  font-size: 200%;
  display: inline-block;
  padding-top: 10px;
  padding-left: 43.5%;
  text-align: center;
}

.paginas1 a {
  font-family: Impact, Charcoal, sans-serif;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.paginas1 a:hover:not(.active) {color: #979797;}

button {
  font-size: 200%;
  font-family: Impact, Charcoal, sans-serif;
  display: inline-block;
  margin-top: 15%;
  margin-left: 47%;
  text-align: center;
}

/*ending*/

.end {
  font-family: Impact, Charcoal, sans-serif;
  position: absolute;
  z-index: 2;
  font-size: 200%;
  display: inline-block;
  padding-top: 10px;
  padding-left: 46.5%;
  text-align: center;
}

.end a {
  font-family: Impact, Charcoal, sans-serif;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.end a:hover:not(.active) {color: #979797;}

h1 {
  position: absolute;
  z-index: 3;
  font-size: 500%;
  display: inline-block;
  padding-left: 25.5%;
  margin-top: 10%;
  text-align: center;
}